body {
    background-image: linear-gradient(black, slateblue, black);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.mainBody {
    background-color: black;
}

.linkSection {
    background-color: black;
}

.news {
    background-color: black;
}

a {
    color: white;
}

img{
    border-style: inset;
}

#logo{
    width: 100;
    height: 100;
    border-style:none;
}